<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="js/scripts.js"></script>

    <title>Client</title>

    <!-- Bootstrap core CSS -->
    <!--<link href="css/styles.css" rel="stylesheet">-->

  </head>

  <body  ng-controller="myCtrl">
	Add category
  	<input ng-model='addCategory' />
  	<button ng-click="categoryAdd()">add category</button>
    <input ng-model="catId">
    <hr>

    <h2>Caregory: {{ catName }}</h2>
    <ul ng-repeat = "category in categories">
      <li ng-click="categoryList(category.id, category.name)">{{ category.name }}</li>
    </ul>

  </body>
<!--
TEST COMMIT
-->
</html>