<form class="navbar-form navbar-right" ng-hide="user" ng-if="signInForm" ng-submit="login(username, password)">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Login" ng-model="username">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="password">
    </div>
    <button class="btn btn-primary">Sign In</button>
</form>

<form class="navbar-form navbar-right" ng-hide="user" ng-if="signUpForm" ng-submit="register(username, password)">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Login" ng-model="username">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="password">
    </div>
    <button class="btn btn-primary">Sign Up</button>
</form>

<form class="navbar-form navbar-right" ng-show="user" ng-submit="logout()">
    <div class="form-group">
        <span class="nav-username" ng-bind="user.username"></span>
    </div>
    <button class="btn btn-primary">Sign Out</button>
</form>
