{% load staticfiles %}
<!--</div>&lt;!&ndash; /.container &ndash;&gt;-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static '/static/bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static '/static/bower_components/angular/angular-jwt.js' %}"></script>
<script src="{% static 'djangular/js/django-angular.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/factories.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/scripts.js' %}"></script>