{% load djangular_tags %}
<div class="container-fluid top-decor-line"></div>
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SHOP TEST</a>
            <span class="navbar-brand">
                Current store: {% angularjs %}{{ currentStore.title }}{% endangularjs %}
            </span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                       >Stores<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="store in stores">
                            <a href="#" ng-bind="store.title" ng-click="setCurrentStore(store);"></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div>{% include "auth-form.html" %}</div>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div ng-hide="user" class="container-fluid">
    <div class="row">
        <button class="btn btn-primary pull-right top-right-corner" ng-click="setForm()" ng-bind="sign_link"></button>
    </div>
</div>