.top-decor-line
{
    min-height: 0.25em;
    background-color: #b00602;;
}
.top-right-coener{
    margin-right: 1em;
}

#nav-username{
    color: #c6c6c6;
}
.errors, {
    font-weight: 900;
    color: #e9322d;
}
.fa-star, .fa-star-half-o, .fa-star-o{
    color: #dab73c;
}

.comments_total{
    padding-left: 1.5em;
    color: #337ab7;
}

#set_rate_button{
    margin-right: 5em;
}
#nav_store_name{
    color: #ffe272;
}
.fa-shopping-cart{
    color: #d13f1d;
}
#itemDetailDeleteEditButtons{
    margin-left: 3em;
}
.running-out{
    color: #e50605;
}