{% load djangular_tags %}
<form ng-submit="editItem(editedItem)">
    <div class="form-group">
        <label for="editedItemName">Name:</label>
        <input type="text" class="form-control" id="editedItemName" placeholder="Name" ng-model="editedItem.name" required>
    </div>
    <div class="form-group">
        <label for="editedItemPrice">Price:</label>
        <input type="text" class="form-control" id="editedItemPrice" ng-model="editedItem.price" placeholder="Price" required>
    </div>
    <div class="form-group">
        <label for="editedItemCategory">Category:</label><br>
        <select id="editedItemCategory" ng-options="category.cat_id as category.name for category in allCategories.availableOptions track by category.cat_id"
                ng-model="editedItem.category" class="form-control" required></select>
    </div>
    <div class="form-group">
        <label for="editedItemDescription">Description:</label>
        <textarea id="editedItemDescription" class="form-control" rows="3" ng-model="editedItem.description"
                  placeholder="Description" required></textarea>
    </div>
{#    <div class="form-group">#}
{#        <label for="editedItemImage">Image:</label>#}
{#        <input type="file" id="editedItemImage" ng-model="editedItem.image_url">#}
{#    </div>#}
    <div class="form-group">
        <label for="editedItemQuantity">Quantity:</label>
        <input type="number" min="0" class="form-control" id="editedItemQuantity" ng-model="editedItem.quantity" placeholder="Quantity">
    </div>
    <div class="form-group">
        <label for="editedItemRunningOutLevel">Running out level:</label>
        <input type="number" min="0" class="form-control" id="editedItemRunningOutLevel" ng-model="editedItem.running_out_level" placeholder="Running out level">
    </div>
    <button type="submit" class="btn btn-success btn-block">Submit</button>
</form>