{% load djangular_tags %}
<h2>ITEMS<span class="badge pull-right" ng-bind="itemsList.length" ng-show="itemsList.length > 0"></span></h2>
<p ng-show="itemsList.length == 0">No items to show</p>
<div class="row" ng-show="itemsList.length > 0">
    <div ng-repeat="item in itemsList">
        <div class="thumbnail col-sm-4">
            <img ng-src="{% angularjs %}{{ item.image_url }}{% endangularjs %}" alt="{% angularjs %}{{ item.name }}{% endangularjs %} image">
            <div class="caption">
                <h3>
                    {% angularjs %}{{ item.name }}{% endangularjs %}
                    <span class="pull-right" ng-show="showEditDeleteItemButtons();">
                        <a href="#" ng-click="startEditingItem(item);"><i class="fa fa-pencil">&nbsp;&nbsp;</i></a>
                        <a href="#" ng-click="deleteItem(item);"><i class="fa fa-trash-o"></i></a>
                    </span>
                </h3>
                <div ng-show="item.new_price ">
                        <p>
                            <strike>Price: {% angularjs %}{{ item.price }}{% endangularjs %}$</strike>
                            <span class="label label-danger">
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <strong>New price: {% angularjs %}{{ item.new_price }}{% endangularjs %}$</strong>
                            </span>
                        </p>
                </div>
                <p ng-hide="item.new_price">Price: {% angularjs %}{{ item.price }}{% endangularjs %}$</p>
                <p>
                    <i ng-repeat="star in item.stars track by $index"
                       ng-class="star == 'full' ? 'fa fa-star rating-stars' : (star == 'half' ? 'fa fa-star-half-o rating-stars' : 'fa fa-star-o rating-stars')"></i>
                    <span class="comments-total">Comments: {% angularjs %}{{ item.comments_total }}{% endangularjs %}</span>
                </p>
                <p>
                    <a href="#" class="btn btn-success" role="button" ng-click="addToCart(item);">Add to cart</a>
                    <a href="#" class="btn btn-info" role="button" ng-click="setCurrentItem(item);">View details</a>
                </p>
            </div>
        </div>
    </div>
</div>