{% load staticfiles %}
<!--</div>&lt;!&ndash; /.container &ndash;&gt;-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{% static '/static/vendors/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static '/static/vendors/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static '/static/vendors/js/angular.js' %}"></script>
<script type="text/javascript" src="{% static '/static/vendors/js/angular-jwt.js' %}"></script>
<script type="text/javascript" src="{% static 'djangular/js/django-angular.js' %}"></script>
<script type="text/javascript" src="{% static '/static/js/factories.js' %}"></script>
{#<script type="text/javascript" src="{% static '/static/js/directives.js' %}"></script>#}
<script type="text/javascript" src="{% static '/static/js/scripts.js' %}"></script>